nav {
    width: 100%; 
    height: 65px; 
    background-color: white;
    
    
    top: 0;
    right: 0;
    left: 20;
    display: flex;
    padding-left: 149px;
    
   
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 20px; 
  
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav ul li a i {
margin-right: 5px;
}

#quadrado {
position: absolute;
width: 1050px;
height: 150px;
background: white;
border-radius: 30px;
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
margin-left:400px;
border-bottom: 1px solid black;
margin-top:-10px;

z-index: 1;
}



#quadrado2 {
position: absolute;
width: 450px;
height: 640px;
background: white;
border-radius: 30px;
border-top: 1px  white;
border-left: 1px white;
border-right: 1px white;
border-bottom: 1px white;
margin-left: 1500px;

z-index: 1;
}

footer {
background-color: #333;
color: #fff;
padding: 20px;
text-align: center;
margin-top: 500px;
}

#fname{
margin-left:15px;
}

label {
display: block; /* Faz o rótulo ocupar uma linha inteira */
margin-bottom: 8px; /* Espaço abaixo do rótulo */
font-size: 16px; /* Tamanho da fonte do rótulo */
color: #333; 
margin-left:15px;
margin-top:15px;
/* Cor do texto do rótulo */
}

input[type="text"] {
width: 100;  
padding: 10px; /* Espaço interno do campo de entrada */
border: 1px solid #ccc; /* Cor e estilo da borda */
border-radius: 5px; /* Cantos arredondados do campo de entrada */
box-sizing: border-box; /* Inclui padding e borda no cálculo da largura total */
}
  
#forma{
margin-left:15px;
margin-top:25px;
}

#resu{
margin-left:15px;
margin-top:35px;
}

#pedi{
margin-left:15px;
}

#total{
margin-left:15px;
margin-top:35px;
}

#valor{
margin-left:175px;
margin-top:15px;
}

#paga {
background-color: #04AA6D; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-left:15px;
width: 400px
}


#mais {
background-color: #04AA6D; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-left:15px;
width: 400px


}

#hr1 {
border: none; /* Remove a borda padrão do <hr> */
border-top: 2px white; /* Define a cor, espessura e estilo da borda superior */
margin: 20px 0; /* Adiciona espaço acima e abaixo do <hr> */
}

#linha{
margin-top:220px;
margin-left:400px;
}

#quadrado3 {
position: absolute;
width: 250px;
height: 340px;
background: white;
border-radius: 30px;
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: 1px solid black;
margin-left: 400px;
z-index: 1;
}

#quadrado4 {
position: absolute;
width: 250px;
height: 340px;
background: white;
border-radius: 30px;
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: 1px solid black;
margin-left: 800px;
z-index: 1;
}

#quadrado5 {
position: absolute;
width: 250px;
height: 340px;
background: white;
border-radius: 30px;
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: 1px solid black;
margin-left: 1200px;
z-index: 1;
}

#pag{
margin-left:15px;
margin-top:25px;
}

#miniquadrado {
position: absolute;
width: 50px;
height: 50px;
background: white;
border-radius: 10px;
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: 1px solid black;
z-index: 1;
}

#miniquadrado2 {
position: absolute;
width: 50px;
height: 50px;
background: white;
border-radius: 10px;
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
margin-left: 70px;
border-bottom: 1px solid black;
z-index: 1;
}
#miniquadrado3 {
position: absolute;
width: 50px;
height: 50px;
background: white;
border-radius: 10px;
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
margin-left: 140px;
border-bottom: 1px solid black;
z-index: 1;
}

#miniquadrado4 {
position: absolute;
width: 50px;
height: 50px;
background: white;
border-radius: 10px;
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
margin-left: 210px;
border-bottom: 1px solid black;
z-index: 1;
}
#miniquadrado5 {
position: absolute;
width: 50px;
height: 50px;
background: white;
border-radius: 10px;
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
margin-left: 270px;
border-bottom: 1px solid black;
z-index: 1;
}

#sacola{
margin-left:420px;
}
#produtos{
margin-left:420px;
margin-top:-7px;
margin-bottom: -30px;

}


#quadradointer {
position: absolute;
width: 1050px;
height: 70px;
background: gray;
border-radius: 5px;

border-left: 1px solid black;
border-right: 1px solid black;
margin-left:-1px;
margin-top:20px;


border-bottom: 1px solid black;

}

#imagemRecebida{
width: 190px;
height: 70px;

margin-left:20px;
margin-top:-50px;


background-size: cover; 
background-position: center; 
background-repeat: no-repeat;

}


    
#descricao{
margin-left:99px;
margin-top:50px;
}

#desconto{
margin-left:900px;
}

#preco{
margin-left:1000px;
margin-top:-37px;
}

#quantidade{
margin-left:1080px;
margin-top:-37px;
}

#soma{
margin-left:1280px;
margin-top:-37px;
}

#recomendacao0{
width: 120px;
height: 180px;

margin-left:55px;
margin-top:10px;

background-image: url('https://images.petz.com.br/fotos/1721843507057_mini.jpg');

background-size: cover; 
background-position: center; 
background-repeat: no-repeat;

}

#recomendacao1{
width: 120px;
height: 180px;

margin-left:55px;
margin-top:10px;

background-image: url('https://images.petz.com.br/fotos/1721843507057_mini.jpg');

background-size: cover; 
background-position: center; 
background-repeat: no-repeat;

}

#recomendacao2{
width: 120px;
height: 180px;

margin-left:55px;
margin-top:10px;

background-image: url('https://images.petz.com.br/fotos/1721843507057_mini.jpg');

background-size: cover; 
background-position: center; 
background-repeat: no-repeat;

}